@-ms-viewport { width: device-width; }
@-o-viewport { width: device-width; }
@viewport { width: device-width; }
html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
    background-color: grey;
}
.relative-top-minus100 {
	position: relative;
	top: -100px;
	right: 0;
	display: block;
	height: 0px !important;
	line-height: 0px !important;
}
.layer-page {
	overflow: auto;
	width: 100%;
	height: 100%;
	display: block;
	float: left;
	padding: 50px 0 0 0;
	margin: 0;
	border: 0;
	/*Firefox*/
	scrollbar-color: rgb(1, 161, 1) #222;
	scrollbar-width: thin;
}
/* webkit width */
.layer-page::-webkit-scrollbar {
    width: 4px;
}
/* webkit Track */
.layer-page::-webkit-scrollbar-track {
    background: #000;
}
/* webkit Handle */
.layer-page::-webkit-scrollbar-thumb {
    background: rgb(1, 161, 1);
}
/* webkit Handle on hover */
.layer-page::-webkit-scrollbar-thumb:hover {
    background: lime;
}
.layer-navbar-thumb {
	display: block;
	float: left;
	position: fixed;
	top: 0;
	left: 0px;
	z-index: 10000;
	width: 122px;
	height: 97px;
	background: url('../images/layout/navbar-thumb.png') repeat-x left top;
	background-position-x: 0px;
	background-position-y: 0px;
	background-color: transparent;
	background-size: 1700%;
	-webkit-transition: ease-in 700ms linear;
	-moz-transition: ease-in 700ms linear;
	-ms-transition: ease-in 700ms linear;
	-o-transition: ease-in 700ms linear;
	transition: ease-in 700ms linear;
	-webkit-transition: ease-out 300ms linear;
	-moz-transition: ease-out 300ms linear;
	-ms-transition: ease-out 300ms linear;
	-o-transition: ease-out 300ms linear;
	transition: ease-out 300ms linear;
}
.navbar-thumb-hidden {
	-moz-opacity: 0;
	opacity: 0;
	transform-origin: 0 0;
	-moz-transform: scale(0.01);
	-webkit-transform: scale(0.01);
	-o-transform: scale(0.01);
	-ms-transform: scale(0.01);
	transform: scale(0.01);
}
.navbar, .navbar-hidden {
	-webkit-transition: all 300ms linear;
	-moz-transition: all 300ms linear;
	-ms-transition: all 300ms linear;
	-o-transition: all 300ms linear;
	transition: all 300ms linear;
	transform-origin: 0 50%;
}
.navbar-hidden {
	-moz-opacity: 0.5;
	opacity: 0.5;
	transform-origin: 0 50%;
	-moz-transform: scale(0.25, 0.5) translate(-58%, 45px);
	-webkit-transform: scale(0.25, 0.5) translate(-58%, 45px);
	-o-transform: scale(0.25, 0.5) translate(-58%, 45px);
	-ms-transform: scale(0.25, 0.5) translate(-58%, 45px);
	transform: scale(0.25, 0.5) translate(-58%, 45px);
	border-radius: 10px;
}
.navbar-hidden * {
	display:none;
}
.mask-box-hidden {
	display: none;
}
.layer-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: center;
    overflow: hidden;
    background: url('../images/layout/backgroud-black-alpha-50.png') repeat left top;
    z-index: 10100 !important;
}
/*.layer-loading div.fullcentered {
        display: table-cell;
        height: 100vh;
        width: 100vw;
        vertical-align: middle;
        text-align: center;
        border: 0;
        padding: 0;
        margin: 0;
}
.layer-loading div.fullcentered img {
	margin: 0 auto !important;
}
.layer-loading > img {
    margin: 0 0 0 0;
    border: 0;
}
.ds-loading {
  width: 40%;
}*/
.layer-loading .ds-loading {
	width: 100%;
	height: 100%;
	background: url('../images/layout/ds-loading.apng.png') center center no-repeat;
	background-size: 85%;
}
footer {
	float: left;
	width: 100%;
    background-color: #222;
    color: #9d9d9d;
	margin: 0;
	padding-top: 10px;
    /*border-top: 2px solid rgb(0, 255, 0);*/
}
footer > hr {
	border-color: rgb(0, 161, 1);
	margin: 5px auto;
}
.caret-right {
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	transform: rotate(270deg);
	float:right;
	color:grey;
	margin-top: -16px;
	margin-right: 5px;
}
.caret-max-right {
	-ms-transform: rotate(270deg); /* IE 9 */
	-webkit-transform: rotate(270deg); /* Chrome, Safari, Opera */
	transform: rotate(270deg);
	float:right;
	color:grey;
	margin-top: -18px;
	margin-right: 5px;
}
.dropdown-submenu > a {
    width: 100%;
	text-align: left;
}
.dropdown-submenu {
    position: relative;	
}
.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
	border-radius: 0 0 5px 5px;
	display: none;
}
.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}
.dropdown-header {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.05);
	margin: -5px 0 0 0;
}
.matrix {
    color: grey !important;
    text-shadow: 1px 1px rgb(0, 255, 0) !important;
    text-shadow: 1px 1px rgba(0, 255, 0, 1) !important;
    font-weight: bold;
    margin: 0px !important;
    padding: 0px !important;
}
#navbarlogo {
	background: url('../images/layout/ds-logo-color.png') center center / 100% 100% no-repeat;
	margin: 0 0 0 5px !important;
	padding: 0 !important;
	border: 0 !important;
	display: block;
	float:left;
	width: 50px;
	height: 50px;
}
#navbar-title {
	color: white;
	font-size: 1.3em;
}
.navbar-inverse .navbar-nav > li > a:hover {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}
.navbar ul>li.active {
    border: 2px solid rgb(0, 255, 0);
    border: 2px solid rgba(0, 255, 0 , 0.7);
	border-top: 0;
	border-bottom: 0;
}
a {
    color: rgb(1, 161, 1);
}
a:hover {
    color: rgb(2, 225, 1);
}
.supergreen {
    color: rgb(1, 161, 1);
}
.logo-menu {
	display: inline-block;
	width: 25px;
	height: 25px;
	margin: 0 5px 0 0;
	padding: 0;
	border: 0;
}
.va-super {
	vertical-align: super;
}
#logo-menu-about-application {
	background: url('../images/about/navbar-application.png') center center / 100% 100% no-repeat;
}
#logo-menu-about-application-test-results {
	background: url('../images/about/navbar-application-test-results.png') center center / 100% 100% no-repeat;
}
#logo-menu-builds-zendframework {
	background: url('../images/builds/navbar-zf-logo.png') center center / 100% 100% no-repeat;
}
#logo-menu-builds-symfony {
	background: url('../images/builds/navbar-symfony-logo.png') center center / 100% 100% no-repeat;
}
#logo-menu-builds-laravel {
	background: url('../images/builds/navbar-laravel-logo.png') center center / 100% 100% no-repeat;
}
#logo-menu-builds-spring {
	background: url('../images/builds/navbar-spring-logo.png') center center / 100% 100% no-repeat;
}
#logo-menu-builds-dotnet {
	background: url('../images/builds/navbar-dotnet-logo.png') center center / 100% 100% no-repeat;
}
#logo-menu-lang-flag-en-GB {
	background: url('../images/layout/flag_en-GB.png') center center / 100% 100% no-repeat;
}
#logo-menu-lang-flag-en-US {
	background: url('../images/layout/flag_en-US.png') center center / 100% 100% no-repeat;
}
#logo-menu-lang-flag-fr-FR {
	background: url('../images/layout/flag_fr-FR.png') center center / 100% 100% no-repeat;
}
#logo-menu-lang-flag-fr-CH {
	background: url('../images/layout/flag_fr-CH.png') center center / 100% 100% no-repeat;
}
.v-grad {
    background-color: black;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0, rgb(255, 255, 255)), color-stop(0.68, rgb(255, 255, 255)), color-stop(1, rgba(255, 255, 255)));
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0, rgba(255, 255, 255, 0.95)), color-stop(0.68, rgba(255, 255, 255, 0.86)), color-stop(1, rgba(255, 255, 255, 0.08)));
    background-image: -webkit-linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255) 68%, rgb(255, 255, 255));
    background-image: -webkit-linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.86) 68%, rgba(255, 255, 255, 0.08));
    background-image: -moz-linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255) 68%, rgb(255, 255, 255));
    background-image: -moz-linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.86) 68%, rgba(255, 255, 255, 0.08));
    background-image: linear-gradient(0deg, rgb(255, 255, 255), rgb(255, 255, 255) 68%, rgb(255, 255, 255));
    background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.46) 68%, rgba(255, 255, 255, 0.08));
    background-size: 100% 100%;
}
.boxspaced {
	padding : 15px 20px 40px 20px;
	border-radius: 7px;
}
.bordered {
	border: 1px solid grey;
}
.v-grad h2 {
	color: grey;
    text-shadow: 1px 1px rgb(0, 255, 0); /*zzz*/
	text-shadow: 1px 1px rgba(0, 255, 0, 1);
	margin: 0 10px 30px 0;
	font-weight: bold;
}
.sommaire li {
	font-size: 1.2em;
}
.sommaire a {
    color: white;
	font-size: 1em;
}
.sommaire a:hover {
    color: grey;
    text-shadow: 1px 1px rgb(0, 255, 0); /*zzzz*/
    text-shadow: 1px 1px rgba(0, 255, 0, 1);
}
.indent {
	text-indent: 30px;
	text-align: justify;
	font-weight: normal;
}
.dslettrine::first-letter {
  color: rgb(1, 161, 1);
  font-size: 130%;
}
.go_top {
    float: right;
}
.go_top span {
	font-size: 1.4em;
    margin: 10px 0 10px 0;
	border: 0;
	padding: 0;
	color: grey !important;
}
.go_top a, .go_top a:active, .go_top a:focus {
	color: grey !important;
}
.go_top a:hover {
	color: lime !important;
	text-decoration: none;
}
/**
* No Browser Storage Support
*/
.browser-logo {
    display: block;
    width: 75px;
    height: 75px;
}
#firefox-logo {
    background: url('../images/layout/firefox-quantum-logo.png') left top no-repeat;    
    background-size: 100% 100%;
}
#chrome-logo {
    background: url('../images/layout/chrome-logo.png') left top no-repeat;        
    background-size: 100% 100%;
}
#edge-logo {
    background: url('../images/layout/edge-logo.png') left top no-repeat;        
    background-size: 100% 100%;
}
#opera-logo {
    background: url('../images/layout/opera-logo.png') left top no-repeat;        
    background-size: 100% 100%;
}
.cookiesRequirement {
    background-color: rgb(148, 227, 252);
    background-color: rgba(148, 227, 252, 1);
    display: block;
    float: left;
    border-radius: 5px;
    padding: 1%;
    width: 93%;
    margin: -10px 0 -30px 3.5%;
}
.layer-dial-popup {
    background: url('../images/layout/filterHaloA50-hover.png') 0px 0px no-repeat;
    background-size: 100% 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: 10001;
    border-radius: 0;
    margin: 0;
    border: 1px solid #34ff34;
    -moz-box-shadow: inset 0px 1px 7px 0px #34ff34;
    -webkit-box-shadow: inset 0px 1px 7px 0px #34ff34;
    -o-box-shadow: inset 0px 1px 7px 0px #34ff34;
    box-shadow: inset 0px 1px 7px 0px #34ff34;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#34ff34, Direction=180, Strength=7);
    color: black;
}
.layer-dial-popup-content {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow:auto;
}
#super-title {
	background: url('../images/layout/ds-domain-apng.png') center center / 100% 100% no-repeat;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
    display: block;
    width: 192px;
    height: 50px;
}
.layer-dial-popup .panel {
	position: absolute;
	top: 0;
	left: 0;
	margin: 5% 15px;
	height: 80%;
}
.layer-dial-popup .lang-right {
	float:right;
	display: inline-block;
	position: relative;
	top: -10px;
	right: -12px;
	margin: 0;
	padding: 0;
}
.layer-dial-popup .lang-right a {
	display: inline-block;
	text-decoration: none;
	margin: 0 0 0 5px;
	padding: 0;
	border: 0;
	border-radius: 12.5px;
    -moz-box-shadow: darkgrey 1px 1px 3px;
    -webkit-box-shadow: darkgrey 1px 1px 3px;
    -o-box-shadow: darkgrey 1px 1px 3px;
    box-shadow: darkgrey 1px 1px 3px;
    filter:progid:DXImageTransform.Microsoft.Shadow(Color=#A9A9A9, Direction=135, Strength=7);
}
.layer-dial-popup .lang-right a:hover {
    -moz-box-shadow: black 1px 1px 3px;
    -webkit-box-shadow: black 1px 1px 3px;
    -o-box-shadow: black 1px 1px 3px;
	box-shadow: black 1px 1px 3px;
    filter:progid:DXImageTransform.Microsoft.Shadow(Color=#000000, Direction=135, Strength=7);
}
.flag-en-GB-25x25, .flag-en-US-25x25, .flag-fr-FR-25x25, .flag-fr-CH-25x25 {
	display:block;
	width: 25px;
	height: 25px;
	margin: 0;
	padding: 0;
	border: 0;
}
.flag-en-GB-25x25 {
	background: url('../images/layout/flag_en-GB.png') center center / 100% 100% no-repeat;
}
.flag-en-US-25x25 {
	background: url('../images/layout/flag_en-US.png') center center / 100% 100% no-repeat;
}
.flag-fr-FR-25x25 {
	background: url('../images/layout/flag_fr-FR.png') center center / 100% 100% no-repeat;
}
.flag-fr-CH-25x25 {
	background: url('../images/layout/flag_fr-CH.png') center center / 100% 100% no-repeat;
}
.layer-dial-popup .panel-heading {
	position: relative;
	width: 100%;
	height: 40px;
	margin: 0;
}
.layer-dial-popup .panel-body {
	position: relative;
	width: 100%;
	height: calc(100% - 80px);
	overflow-x: auto;
	overflow-y: scroll;
	/*Firefox*/
	scrollbar-color: rgb(1, 161, 1) lightgrey;
	scrollbar-width: thin;
}
/* webkit width */
.layer-dial-popup .panel-body::-webkit-scrollbar {
    width: 4px;
}
/* webkit Track */
.layer-dial-popup .panel-body::-webkit-scrollbar-track {
    background: lightgrey;
}
/* webkit Handle */
.layer-dial-popup .panel-body::-webkit-scrollbar-thumb {
    background: rgb(1, 161, 1);
}
/* webkit Handle on hover */
.layer-dial-popup .panel-body::-webkit-scrollbar-thumb:hover {
    background: lime;
}
.layer-dial-popup .panel-footer {
	position: absolute;
	width: 100%;
	height: 40px;
	left: 0;
	bottom: 0;
}
#panel-body-min-height {
	min-height: calc(100vh - 90px);
}
.panel-heading .btn {
	margin:-8px 0 0 0;
}
.txt-underline {
	text-decoration: underline !important;
}
/**
* Media Queries
*/
@media (min-width: 1280px) {
}
@media (min-width: 991px) and (max-width: 1279px) {
}
@media (min-width: 769px) and (max-width: 990px) {
}
@media (min-width: 481px) and (max-width: 768px) {
}
@media (min-width: 641px) and (max-width: 768px) {
	#super-title {
	    display: none;
	}
	.navbar .container {
		padding-left : 0;
		padding-right : 0;
	}
	#navbarlogo {
		margin: 0 4px 0 0 !important;
	}
    footer * {
    	font-size: 0.93em !important;
    }
}
@media (min-width: 341px) and (max-width: 480px) {
	.layer-dial-popup .panel {
		font-size: 0.9em;
	}
	.layer-dial-popup .lang-right a img {
		margin: 0 2px 0 0;
		width: 18px !important;
		height: 18px !important;
	}
	.layer-dial-popup .panel-title {
    	font-size: 0.8em;
	}
	.layer-dial-popup .panel-text {
    	font-size: 0.8em;
	}
	.layer-dial-popup .panel-footer {
    	font-size: 0.65em;
	}
    #wrapper * {
    	font-size: 0.95em;
    }
    .layer-page .panel-heading {
    	padding: 3px;
    	font-size: 0.8em;
    }
    .layer-page .panel-heading .btn {
    	margin: -2px 0 0 0;
    	padding: 1px 2px 1px 2px;
    	font-size: 0.75em;
    }
    .layer-page .panel-body {
    	padding: 3px;
	}
	.go_top a {
		font-size: 1.5em !important;
	}
    footer * {
    	font-size: 0.8em !important;
    }
}
@media (max-width: 340px) {
    #navbarlogo {
        width: 42px;
        height: 42px;
        margin: 4px 0 0 4px !important;
        padding: 0 !important;
    }
	.layer-dial-popup .panel {
		font-size: 0.9em;
	}
	.layer-dial-popup .lang-right a img {
		margin: 0 2px 0 0;
		width: 18px !important;
		height: 18px !important;
	}
	.layer-dial-popup .panel-title {
    	font-size: 0.8em;
	}
	.layer-dial-popup .panel-text {
    	font-size: 0.8em;
	}
	.layer-dial-popup .panel-footer {
    	font-size: 0.65em;
	}
    #wrapper * {
    	font-size: 0.9em;
    }
    .layer-page .panel-heading {
    	padding: 3px;
    	font-size: 0.8em;
    }
    .layer-page .panel-heading .btn {
    	margin: -2px 0 0 0;
    	padding: 1px 2px 1px 2px;
    	font-size: 0.75em;
    }
    .layer-page .panel-body {
    	padding: 3px;
	}
	.layer-page .container .row {
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
	.go_top a {
		font-size: 1.5em !important;
	}
    footer * {
    	font-size: 0.8em !important;
    }
}
@media (max-width: 640px) and (orientation: landscape) {
	.layer-dial-popup .panel {
		font-size: 0.9em;
		margin: 1.5% 15px 0 15px;
		height: 95%;
	}
	.layer-dial-popup .panel-body {
    	font-size: 0.75em !important;
	}
}
@media (max-width: 480px) and (orientation: portrait) {
	.layer-dial-popup .panel-text .btn {
    	margin-top: 5px !important;
	}
	.layer-dial-popup .panel {
	 	margin: 8% 15px 0 15px;
		height: 90%;
	}
	#storage-requirement .panel-title {
		margin-top: 100px !important;
	}
	#gdpr-requirement .panel-title {
		margin-top: 50px !important;
	}
	#terms-of-use .panel-title {
		margin-top: 10px !important;
	}
}
@media (orientation: landscape) {
	.layer-loading .ds-loading {
		background-size: 40% !important;
	}
}