.home-highlight {
	background-color:rgb(1, 205, 1);
	padding: 5px;
}
.home-big {
	font-size:1.2em !important;
	font-weight: bold;
}
.home-bigger {
	font-size:2.4em !important;
	font-weight: bold;
}
.home-bottom-underline {
	border-bottom: 4px solid rgb(1, 205, 1);
}
#code-bg {
    background: url('../../images/home/code-bg.png') center center / 150% 100% no-repeat;
    margin: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	border-right: 1px solid rgba(0, 0, 0, 0.25);
	border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 10px 4px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
	padding: 15px;
    width: 100%;
}
#home-img01 {
	display: block;
	background: url('../../images/home/ds-potion.png') 0 0 / 100% 100% no-repeat;
    width: 230px;
    height: 230px;
    float: left;
    margin: 0;
    border: 0;
}

@media (min-width: 481px) and (max-width: 768px) {
	#code-bg *{
		font-size: 1em;
	}
	#home-index-bigger {
		font-size:1.6em !important;
		padding: 0 0 3px 0;
	}
	#home-img01 {
		margin: 10px 0;
	    width: 180px;
	    height: 180px;
	}
}
@media (max-width: 480px) {
	#codeback * {
		font-size: 1em !important;
	}
	#home-index-bigger {
		font-size:1.6em !important;
		padding: 0 0 3px 0;
	}
	#home-img01 {
		margin: 10px 0;
		width: 110px;
	    height: 110px;
	}
}