/* BEGIN @import url('https://fonts.googleapis.com/css?family=Pacifico&subset=latin-ext');*/
/* cyrillic-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
/*  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6K6MmTpA.woff2) format('woff2');*/
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../../fonts/FwZY7-Qmy14u9lezJ-6K6MmTpA.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
/*  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2) format('woff2');*/
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../../fonts/FwZY7-Qmy14u9lezJ-6D6MmTpA.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
/*  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6I6MmTpA.woff2) format('woff2');*/
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../../fonts/FwZY7-Qmy14u9lezJ-6I6MmTpA.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
/*  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6J6MmTpA.woff2) format('woff2');*/
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../../fonts/FwZY7-Qmy14u9lezJ-6J6MmTpA.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
/*  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v16/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');*/
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(../../fonts/FwZY7-Qmy14u9lezJ-6H6Mk.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* END @import url('https://fonts.googleapis.com/css?family=Pacifico&subset=latin-ext');*/

.custom-alert {
	width:100%;
	display:inline-block;
	line-height: 34px;
}

div.todo-top {
	float: left;
	margin: 0 7.5%;
	width: 85%;
	padding: 0; 
	background: url('../../images/todo/todo-form-top.png') top left no-repeat;
	background-position: 50% 0;
	background-size: 100% 100%;
}
.todo {
	background: url('../../images/todo/todo-form-bg.png') top left no-repeat;
	background-position: 50% -10%;
	background-size: 85% 100%;
	margin: 0px auto 15px auto;
	padding: 0 20% 250px 20%;
	font-family: 'Pacifico', cursive;
}
.todo:after {
  content: ""; /* Important, sinon l'élément n'est pas généré. */
  display: block;
  clear: both;
}
.todo a.btn {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
.todo .name {
	float:left;
	width: 100%;
	font-size: 3em;
	text-align: center;
	margin-bottom: 25px;
	color: rgba(255, 102, 19, 0.7);
}
.todo .right {
	float:right;
	clear:both;
	font-size: 3em;
}
.todo .category {
	float: left;
	font-size: 1.5em;
	width: 40%;
	margin-right: 1%;
}
.todo .priority {
	float: left;
	font-size: 1.5em;
	width: 26.777%;
}
.todo .duedate {
	float: left;
	clear:both;
	width: 100%;
	margin-top: 10px;
	font-size: 1.5em;
	margin-bottom: 25px;
}
.todo p.category strong,
.todo p.priority strong,
.todo p.duedate strong {
	text-transform: capitalize;
	font-size: 1.1em;
	text-decoration: underline;
	padding-right: 10px;
	color: rgba(247, 191, 82, 1.0);
}
.todo .description {
	float: left;
	width: 100%;
	font-size: 1.5em;
	margin: 0 0 30px 0;
	padding: 0;
}
.todo .description div:first-of-type {
	margin: 0;
	padding: 0 50px;
}
.todo .description div.description-content {
	margin-bottom: 0;
	padding-bottom: 0;
}
.todo .description::before {
	content: 'â€Ÿ';
	font-size: 4em;
	margin: 0 0 20px 0;
	padding: 0;
	min-height: 0px;
	height: 30px !important;
    display: block;
}
.todo .description::after {
	content: 'â€Ÿ';
	font-size: 4em;
	margin: 0;
	padding: 0;
	height: 30px !important;
	text-align: right;
	float: right;
    display: block;
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}
.colored-data {
	color: rgba(247, 191, 82, 1.0);
}
.todo hr {
	float: left;
	width: 100%;
	border-color: rgba(0,0,0,0.1);
	background-color: rgba(247, 191, 82, 0.8);
}
/*bootstrap override on blockquote ckeditor purpose */
.todo .description blockquote {
	border-left: 5px solid rgba(247, 191, 82, 1.0) !important;
}
@media (max-width: 768px) {
	.todo {
		font-size: 0.8em;
	}
	.todo .category {
		width: 66.666%;
	}
	.todo .priority {
		width: 100%;
	}
}
@media (min-width: 341px) and (max-width: 480px) {
    .panel-heading .btn {
    	margin: -2px 0 0 0 !important;
    }
	.todo-top {
		margin: 0 !important;
		width: 100% !important;
		background-size: 115% 100% !important;
		background-position: 50% 0 !important;
	}
	.todo {
		background-position: 50% -10%;
		background-size: 115% 100%;
		margin: 5px 0 15px 0 !important;
		padding: 0 10% 250px 10% !important;
	}
	.todo .description {
		margin: 0 !important;
	}
}
@media (max-width: 340px) {
    .panel-heading .btn {
    	margin: -2px 0 0 0 !important;
    }
	.todo-top {
		margin: 0 !important;
		width: 100% !important;
		background-size: 115% 100% !important;
	}
	.todo {
		background-position: 50% -10%;
		background-size: 115% 100%;
		margin: 5px 0 15px 0 !important;
		padding: 0 10% 250px 10% !important;
	}
	.todo .description {
		margin: 0 !important;
	}
}